body {
	background: #092B40;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 75%;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	color: #D96F32;
}

h2 {
	font-size: 20px;
}

input:focus, #random:focus {
	outline:0;
}

#container {
	margin: 0 auto;
	text-align: center;
	width: 70%;
}

#search {
	margin-top: 100px;
}

#query {
	border: 2px solid #D96F32;
	padding: 10px 20px;
	border-radius: 20px;
	background: transparent;
	color: #FFF;
}

#random {
	background: #D96F32;
	border: none;
	border-radius: 10px;
	color: #FFF;
	padding: 3px 10px;
}

#random:hover {
	cursor: pointer;
}

.result {
	background: #FFF;
	text-align: left;
	padding: 10px;
	margin: 10px;
	border-left: 5px solid transparent;
}

.result:hover { 
    border-left: 5px solid #D96F32;
}

.desc {
	font-size: 14px;
}